/* FORM*/
.container-form {
  margin: 0 2rem;
  box-shadow: 0px 24px 48px rgba(179, 179, 179, 0.35);
  border-radius: 8px;
  padding: 3.5rem 0;
  .form-web {
    form {
      margin-top: 30px;
    }
    width: 740px;
    margin: auto;
    .btn-submit {
      width: 130px;
      height: 45px;
      background: #56c4cf;
      border-radius: 4px;
      color: #fff;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      font-family: $roboto;
    }

    .d-flex {
      justify-content: space-between;
    }

    .form-email {
      width: 413px;
    }
    .form-number {
      width: 305px;
    }
  }
  input {
    height: 45px;
  }
  textarea.form-control {
    height: 172px;
    resize: none;
  }
}
@media (max-width: 768px) {
  .container-form {
    .form-web {
      width: 60%;
    }
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .container-form {
    margin: 0;
  }
  .container-form {
    .form-web {
      width: 90%;
      .form-email {
        width: 100%;
        margin-right: 0;
      }
      .form-number {
        width: 100%;
      }
      .btn-submit {
        width: 100%;
      }
    }
    .d-flex {
      flex-wrap: wrap;
    }
  }
}
