.card {
  line-height: 14px;
  display: inline-block;
  padding: 15px 10px;
  border: none;
  a {
    text-decoration: none;
  }
  font: {
    size: 12px;
    family: $roboto;
  }
  &-title {
    color: #0c77c6;
    line-height: 20px;
    font: {
      size: 14px;
    }
  }
  &-body {
    border: none;
    padding: 15px 5px 5px 5px !important;
  }
  &-price-vnd {
    background-color: #ef5b40;
    border-radius: 4px;
  }
  &-badge-new {
    position: absolute;
    width: 58px;
    height: 29px;
    top: 14px;
    left: -6px;
    z-index: 9;
  }

  &-price-new {
    position: absolute;
    top: 52px;
    left: -6px;
    z-index: 9;
  }

  &-favourite {
    position: absolute;
    top: 14px;
    right: 8px;
    color: #ef5b40;
    font-size: 20px;
    z-index: 9;
    .like-product-card {
      background: none;
      border: none;
      color: #ffffff00;
      -webkit-text-stroke: 2px #fff;
      @include transition(0.2s);
      &.liked {
        color: #ef5b40;
      }
    }
  }
  &-price {
    line-height: 24px;
    color: #ef5b40;
    margin: 0;
    font: {
      style: normal;
      weight: bold;
      size: 20px;
    }
  }

  &-buy {
    background: #0c77c6;
    border-radius: 4px;
    text-decoration: none;
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .owl-dots button:focus {
    outline: none;
  }
}
.card .owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-decoration: none;
  border-radius: 50%;
}
.card .owl-carousel .owl-nav button.owl-next {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.card .owl-nav {
  top: 50%;
  transform: translateY(-50%);
}
.card .owl-next {
  outline: none;
}
.card-price-vnd {
  font-size: 16px;
}
.card-body {
  .card-text {
    margin-bottom: 8px;
  }
}
.card-body div .card-text {
  margin-bottom: 17px !important;
}
