.card{
    &-img-top-size{
        width: 100% !important;
        height: 100%;
        object-fit:cover;
    }
}
.slide-card-duannoibat{
    .card{
            border: 1px solid #E0E0E0;
            padding: 0px 0px !important;
    }
   
    .owl-item img{
        display: inline-block !important;
        width: fit-content;
    }
    .owl-nav{
        margin: 0;
    }
    .owl-prev{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    clip-path: circle(50% at 50% 50%);
    background: #F5F5F5 !important;
    outline: none;
    margin: 0 !important;
    }
    .owl-next{ 
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    clip-path: circle(50% at 50% 50%);
    background: #F5F5F5 !important;
    outline: none;
    margin: 0 !important;
    }
    i{
        color: #24B4E6;
    }
    .owl-theme .owl-nav [class*=owl-]:hover{
        background: #F5F5F5;
        color: #24B4E6;
        text-decoration: none; 
    }
}

@include Responsive(SM){
    .slide-card-duannoibat{
        .owl-prev{
            display: none !important;
        }
    }
}
