/*detail project*/
.chitietduan-partial {
  margin-top: 50px;
  @media (min-width: 320px) and (max-width: 414px) {
    margin-top: 0px;
  }
  .chitietduan-leftcolumn {
    @media (min-width: 320px) and (max-width: 414px) {
      .stroke {
        top: 125px;
      }
    }
  }
}
.header {
  .header-main-bar {
    .header-main-box {
      .header-menu-box {
        .header-fnc {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}
.motaduan-partial {
  margin-top: 50px;
  @media (min-width: 320px) and (max-width: 414px) {
    margin-top: 0;
  }
  .motaduan-content {
    width: 50%;
    @media (min-width: 320px) and (max-width: 414px) {
      width: 100%;
    }
  }
}
.utilities {
  margin-top: 62px;
  .utilities-content {
    width: 50%;
  }
  .btn-mobile-utilities {
    a {
      color: #007bff;
      text-decoration: underline;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 163.42%;
    }
  }
}
.table-product {
  margin-top: 50px;
  .paging-table {
    padding: 0px 15px;
  }
}
.progress-box {
  margin-top: 60px;
}
.active-fixed {
  position: fixed;

  // right: 195px !important;
  top: 24%;
  z-index: 9;
}

.matbangduan-partial {
  padding-top: 30px;
  @media (min-width: 320px) and (max-width: 414px) {
    .ground-slider-top {
      margin-bottom: 40px;
      img {
        height: 220px;
      }
    }
    .ground-slider-bottom {
      display: none;
    }
    .tab {
      .content-tab {
        .content-tab-item {
          .shark-content {
            width: 100%;
          }
        }
      }
    }
  }
}
.chinhsachbanhang-partial {
  margin-top: 50px;
}
.sales_policy {
  margin-top: 30px;
}
.project_classification {
  margin-top: 60px;
}
.top-footer {
  margin-top: 60px;
}
.duantuongtu-partial {
  margin-top: 60px;
}
.save-search {
  a {
    color: #000000;
  }
}
.home-section-11 {
  margin-top: 50px;
  @media (min-width: 320px) and (max-width: 414px) {
    margin-top: 30px;
  }
}
.tick-complete {
  .fa-check {
    color: white;
  }
}
.btn-zoom {
  position: absolute;
  right: 16px;
  top: 107px;
  width: 36px;
  height: 73px;
  border-radius: 2px;
  z-index: 9;

  button:focus {
    outline: none;
  }
  .up-map {
    width: 100%;
    height: 50%;
    border: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    img {
      margin-bottom: 10px;
    }
  }
  .down-map {
    width: 100%;
    height: 50%;
    border: 1px solid #d3d3d3;
    border-top: none;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    img {
      margin-bottom: 10px;
    }
  }
}
.svg-content {
  position: relative;
}
.like-product-card:focus {
  outline: none;
}
@media (min-width: 320px) and (max-width: 414px) {
  .chitietduan-rightcolumn {
    height: unset;
    .info-department {
      min-height: unset;
    }
  }
  .motaduan-partial {
    margin-top: 40px;
  }
  .btn-zoom {
    right: 16px;
    top: 179px;
  }
}
@media (max-width: 768px) {
  .active-fixed {
    position: unset;
    right: 13.2%;
    top: 22%;
    z-index: 9;
  }
}
